<div class="contenedor">
  <div class="row">
    <table class="t1">
      <tbody>
        <tr>
          <td class="lbl">
            <label for="entraFis">
                                Fiscal Entrante</label>
          </td>
          <td>
            <input name="entraFis" type="text" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="contenedor">
  <div class="row">
    <table class="t1">
      <tbody>
        <tr>
          <td class="lbl">
            <label for="saleFis">
                                Fiscal Saliente</label>
          </td>
          <td>
            <input name="saleFis" type="text" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--------------------------------------------------------------------------------------->
<div class="row">
  <div>
    <input type="button" value="Cambiar Fiscal" class="fiscal_boton" />
  </div>
</div>
