<div class="container">
  <div class="row">
    <div class="busca_cedula col-md-offset-2 col-md-4 button-form">
      <input [(ngModel)]="id" type="text" name="cedula" value="cédula">
    </div>
    <!-- <button (click)="buscacedula" type="button" name="button" class="fiscal_boton">BUSCAR</button> -->
  </div>
  <h1>{{id}}</h1>
  <div *ngIf="cedula">
    <h2>{{cedula.id}} details!</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
      <label>name: </label>
      <input [(ngModel)]="cedula.id" placeholder="name" />
    </div>
  </div>

  <h1>{{cedula.id}}</h1>
  <div *ngIf="estudiante.id" class="container">
    <div class="row">
      <div class="muestra_dato col-md-offset-2 col-md-8 contenedor">
        <form>
          <div class="form-group">
            <label for="nombre">{{estudiante.nombre}}</label>
            <input type="text" class="form-control" id="nombre">
          </div>
          <div class="form-group">
            <label for="escuela">{{estudiante.id}}</label>
            <input type="text" class="form-control" id="escuela">
          </div>
          <div class="form-group">
            <label for="estado">{{estudiante.estado}}</label>
            <input type="text" class="form-control" id="estado">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <button (click)="habilitacedula()" type="button" name="button"></button>
    </div>

  </div>

</div>
