<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-9 col-sm-offset-1 col-md-offset-2 ">
      <a routerLink="/habilitar-voto">
        <div class="button"> VOTO</div>
      </a>
    </div>
    <div class="col-md-4 col-sm-9">
      <a routerLink="/cambio-fiscal">
        <div class="button"> CAMBIO FISCAL</div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-9 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/index-fiscal">
        <div class="button"> RESULTADOS</div>
      </a>
    </div>
    <div class="col-md-4 col-sm-9">
      <a routerLink="/cambio-fiscal">
        <div class="button exit"> SALIR</div>
      </a>
    </div>
  </div>
</div>
