<form action="#" method="post">
  <div *ngFor="let escuela of estudiante.escuela" class="contenedor">
    <div class="row">

      <div id="divEscuela">
        <label>{{escuelas.nombre}}</label>
        <!--este label se tiene que cambiar por el nombre de la escuela-->
      </div>

      <!--Este div se multiplia dependiendo de cuantos partidos hayan-->
      <div *ngFor="let partido of escuela.partido" class="cuadro col-md-6">
        <label>{{partido.nombre}}</label>
        <label>{{partido.presidente}}</label>
        <br/>
        <img src={{partido.photo}} width="300px" height="300px" />
        <input type="radio" name="voto" value="1" />
      </div>
    </div>
  </div>
