.button {
  display: flex;
  text-align-last: center;
  box-shadow: 2px 2px 10px black;
  margin: 1rem;
  height: 11rem;
  width: auto;
  background-color: purple;
  color: white;
  font-style: normal;
  font-weight: bolder;
  font-size: 35px;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  justify-content : center;
  text-shadow: 1px 1px 5px rgb(21, 5, 24);
}

.busca_boton {
    background-color: green;
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
    color: white;
    padding: 20px;
    width: 100%;
    font-size: 25px;
    font-weight: bolder;
}

.fiscal_boton {
    background-color: green;
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
    color: white;
    padding: 20px;
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 25px;
    font-weight: bolder;
}

.busca_cedula {
  background-color: purple;
  border-radius: 25px;
  box-shadow: 2px 2px 10px black;
  color: white;
  padding: 20px;
}

.contenedor {
  text-align: left;
  background-color: purple;
  border-radius: 25px;
  box-shadow: 2px 2px 10px black;
  color: white;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.cont {
  text-align: left;
  background-color: purple;
  border-radius: 25px;
  box-shadow: 2px 2px 10px black;
  color: white;
  padding: 20px;
  margin-left: 20%;
  margin-right: 40%;
}

.cuadro {
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    width: 170px;
}

.cent{
    margin: auto;
    width: 20%;
}

input {
  color:black;
}

#input-id{
    color: black;
    height: 38px;
    width: 100%;
}

.t1 tbody tr td input{
    color: black;
    height: 30px;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 6px;
}

.t1 tbody tr td label{
    font-size: 25px;
    align-content: center;
    text-align: center;
    font-weight: bolder;
}

.t1{
    margin-left: 10%;
    width: 80%;
}

input::-webkit-input-placeholder {
    font-size: 25px;
    font-weight: bolder;
    line-height: 3;
    text-align: center;
}

input::-webkit-input-value {
    font-size: 30px;
    line-height: 3;
}

